body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #054068;
}

h1 {
	font-weight: 300;
	color: white;
	margin: auto;
	padding-top: 110px;
	text-align: center;
	position: relative;
}

.dialogBox {
	background-color: white;
	max-width: 400px;
	margin:auto;
	position: relative;
	top: 60px;
	padding-bottom: 30px;
    border:0px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    width: 130px;
    max-width:130px;
    height: 40px;
    max-height: 40px;
    border-radius: 5px;
    margin:10px 10px auto auto;
    color: #054068;
}

button {
    text-decoration: none;
    width: 130px;
    max-width:130px;
    height: 40px;
    max-height: 40px;
    background-color: white;
    color: #054068;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.dialogBox #login {
	color: white;
    background-color: #054068;
	font-weight: 300;
    line-height: 3.2em;
    border: 0px;
    text-align: center;
    text-transform: uppercase;
}

.dialogBox label {
	font-weight: 700;
	font-size: .8em;
	color: #054068;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.dialogBox input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #CCC;
	border-radius: 2px;
	font-size: .9em;
	color: #054068;
}

.dialogBox input:focus {
	outline: none;
	border-color: #1A237E;
	transition: 0.5s;
	color: #1A237E;
}

.dialogBox button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #054068;
	cursor:pointer;
	outline: none;
}

.dialogBox button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #054068!important;
	transition: 0.5s;
}

#mainTitle {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.dialogBox {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
}

button {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
}